/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include "keys_hu.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUST  3
#define HYPER   4
#define GAME    5

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 1>;
            then-layer = <1>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* QWERTY
 * .----------------------------------------------------------------------------------------------------------------------------------.
 * |  `   |   1  |   2  |   3  |   4  |   5  |                                              |   6  |   7  |   8  |   9  |   0  | PScr |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | ESC  |   Q  |   W  |   E  |   R  |   T  |                                              |   Y  |   U  |   I  |   O  |   P  |  \   |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Tab  |   A  |   S  |   D  |   F  |   G  |                                              |   H  |   J  |   K  |   L  |   ;  |  '   |
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Shift|   Z  |   X  |   C  |   V  |   B  |      | Del  | PGDN  | | PGUP  | Home  |      |   N  |   M  |   ,  |   .  |   /  | Shift|
 * |-------------+------+------+------+------+------+------+-------+-+-------+-------+------+------+------+------+------+------+------|
 * | Ctrl | Alt  | Meta | Alt  |             | Meta | Space| Lower | | Raise | Enter | RAlt |             | LEFT | DOWN | UP   | RIGHT|
 * .----------------------------------------------------------------------------------------------------------------------------------.
 */

            bindings = <
&kp ESCAPE  &kp N1        &kp N2     &kp N3     &kp N4  &kp N5                                                                                &kp N6  &kp N7  &kp N8     &kp N9      &kp N0     &kp O
&kp DELETE  &kp Q         &kp W      &kp E      &kp R   &kp T                                                                                 &kp Y   &kp U   &kp I      &kp O       &kp P      &kp BACKSPACE
&kp TAB     &kp A         &kp S      &kp D      &kp F   &kp G                                                                                 &kp H   &kp J   &kp K      &kp L       &kp U      &kp ENTER
&kp LSHFT   &kp Z         &kp X      &kp C      &kp V   &kp B          &kp DEL    &kp ENTER  &kp DELETE      &kp UP_ARROW                     &kp N   &kp M   &kp COMMA  &kp DOT     &kp MINUS  &kp RSHFT
&kp LCTRL   &kp LEFT_ALT  &kp LMETA  &kp SPACE                  &mo 1  &kp SPACE  &kp LCTRL  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW                  &kp SPACE  &kp DELETE  &kp LCTRL  &kp ESCAPE
            >;
        };

        accent {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                                                  &trans  &trans  &trans  &trans  &trans  &kp B
&trans  &trans  &trans  &kp A   &trans  &trans                                                  &trans  &kp A   &kp U   &kp U   &trans  &trans
&trans  &kp B   &trans  &trans  &trans  &trans                                                  &trans  &trans  &trans  &trans  &kp A   &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans
            >;
        };
    };
};
